<h2>Articles</h2>
<div class="articles-container">
    {{#each articles}}
        {{#if this.publish}}
            <section class="article">
                {{#with this}}
                    <div class="article-thumbnail">
                        <img src={{image}} />
                        <h6 class="article-title">
                            {{key}}{{title}}
                        </h6>
                    </div>
                    <p class="article-subTitle">
                        {{subTitle}}
                    </p>
                    <p class="article-date txt-sm">
                        {{date}}
                    </p>
                    <a class="button-link" href={{url}}>Go to page ⮕</a>
                    {{!-- <p class="article-content">
                        {{content}}
                    </p> --}}
                {{/with}}
            </section>
        {{/if}}
    {{/each}}
</div>