<section class="article">
    {{#with article}}
        <div class="row-heading">
            <a class="button-link txt-md" href={{../backUrl}}>⬅ Go back</a>
            <div class="col-heading">
                <h2 class="article-title">
                    {{key}}{{title}}
                </h2>
                <p>{{date}}</p>
            </div>
        </div>
        <div class="row-content">
            <div class="col-content">
                <img class="article-image" src={{image}} />
                <h5 class="article-subTitle">
                    {{subTitle}}
                </h5>
                <p class="article-content">
                    {{content}}
                </p>
            </div>
        </div>
    {{/with}}
</section>